# Dependencies
node_modules/
.expo/
dist/
web-build/

# iOS build artifacts
ios/Pods/
ios/build/
ios/DerivedData/
ios/**/xcuserdata/
ios/.xcode.env.local

# Android build artifacts
android/build/
android/app/build/

# Logs and environment
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
