# Mobile Environment Configuration
# Replace with your machine's LAN IP when testing on physical devices (e.g. Expo Go)
EXPO_PUBLIC_API_URL=http://192.168.1.102:5002/api/v1
EXPO_PUBLIC_SOCKET_URL=http://192.168.1.102:5002
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TXAJ0OalVys0pH
EXPO_PUBLIC_GOOGLE_CLIENT_ID=610778456829-edvpd6gcav2u31jo0p2aeligfopvqfbo.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=610778456829-6g1bvqtplfrgva93sbdsvgbuqmkpr203.apps.googleusercontent.com
